:root {
  /* primary colors  */
  --color-primary: hsl(160deg, 100%, 30%);

  /* secondary colors  */
  --color-secondary-lighter: hsl(45deg, 100%, 50%);
  --color-secondary-darker: hsl(45deg, 100%, 40%);

  /* gray spectrum colors */
  --color-black: hsl(0deg, 0%, 0%);
  --color-very-dark: hsl(0deg, 0%, 10%);
  --color-dark: hsl(0deg, 0%, 30%);
  --color-medium: hsl(0deg, 0%, 40%);
  --color-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: var(--color-primary);
}

header {
  border-bottom: 8px solid var(--color-light);
}

main {
  padding-top: 72px;
  padding-bottom: 72px;

  background-color: var(--color-medium);
}

.max-width-wrapper {
  max-width: 800px;

  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  max-width: 415px;

  padding-top: 96px;
  padding-bottom: 64px;
}

.card {
  padding: 24px;
  margin: 0 -24px;

  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-light);
}

.indented-heading {
  width: fit-content;

  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;

  padding: 16px 32px;
  background-color: var(--color-secondary-lighter);
  border-bottom: 8px solid var(--color-secondary-darker);
}
